<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292341438726-5f1al3q8d0tcfujh8d00m06ekamg1skk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292341438726-5f1al3q8d0tcfujh8d00m06ekamg1skk</string>
	<key>API_KEY</key>
	<string>AIzaSyDb8DUYzExv2q_OKbpAxH011jVa2W0Mx9s</string>
	<key>GCM_SENDER_ID</key>
	<string>292341438726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.jueun.littleband</string>
	<key>PROJECT_ID</key>
	<string>piano-server</string>
	<key>STORAGE_BUCKET</key>
	<string>piano-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292341438726:ios:54dabca4a569a8f3dfa687</string>
</dict>
</plist>